
/*
 * (c)2017 David Ricardo Araújo Piñeiro
 * Esta obra está bajo una licencia de Creative Commons Reconocimiento-CompartirIgual 4.0 Internacional.
 * http://creativecommons.org/licenses/by-sa/4.0/
 */

body{
    margin: 0px;
}

.pageTitle h1{
    font-family: 'Open Sans',sans-serif;
    font-size:40pt;
    font-size:2.8vw;
    color: #004075;
    
    text-shadow: 0px 0px 10px #fff;
    
    margin: 30px 0px 10px 0px;
    margin: 2.09vw 0px 0.7vw 0px;
    
}


.pageTitle h2{
    font-family: 'Open Sans',sans-serif;
    font-size:25pt;
    font-size:1.74vw;
    color: #4B8DBE;
    
    margin: 40px 0px 35px 0px;
    margin: 2.79vw 0px 2.44vw 0px;
    
}

.pageTitle h3{
    font-family: 'Open Sans',sans-serif;
    font-size:15pt;
    font-size:1.05vw;
    color: #073859;
    
    text-shadow: 0px 0px 10px #fff;
    
    margin: 30px 0px 25px 0px;
    margin: 6.45vh 0px 2vh 0px;
    
}



.pageTitle{
    margin: 0 auto -20px auto;
    padding: 0px 10% 40px 10%;
    width: 80%;
    text-align: center;
    
    background-color: #fff;
    background-image: url(pagetitlebackground.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    
    /*border-bottom: 1px solid #5EB1EF;*/
    
    font-family: 'Open Sans',sans-serif;
    
}


.pageTitle a, .pageTitle a:visited{
    
    color: #4B8DBE;
    text-decoration: underline;
    
}

.pageTitle a:hover{
    
    text-decoration: none;
    
}


.pageTitle .logoFaicheck{
 
    width: 500px;
    height: 115px;
    
    width: 34.82vw;
    height: 8.01vw;
    
     
    max-width: 500px;
    max-height: 115px;
    
    
}

.pageTitle .dropdownbtn{
    
    border: 0;
    
    width: 126px;
    height: 45px;
    
    width: 9.85vw;
    height: 3.52vw;
    
    max-width: 152px;
    max-height: 54px;
    
    margin-top: 25px;
    margin-top: 5vh;
    
    transition: 0.2s;
    
}

.pageTitle .dropdownbtn:hover{
 
    filter: brightness(150%);
    
}

.pageTitle .botonDescarga, .pageTitle .botonDescarga:visited{
    
    background-color: #004075;
    color: #fff;
    padding: 15px 40px;
    font-size: 28pt;
    font-size:1.9vw;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
    
    border-radius: 5px;
    
    box-shadow: 0px 0px 15px #fff;
    box-shadow: 0px 0px 1vw #fff;
    
    transition: 0.2s;
    
}

.pageTitle .botonDescarga:hover{
    
    background-color: #09599A;
    
}


.seccion{
    margin: 10px auto 0px auto;
    margin: 1vh auto 0px auto;
    padding: 100px 10% 100px 10%;
    padding: 6vh 10% 6vh 10%;
    
    width: 80%;
    
    background-color: #fff;
    
    border-bottom: 1px solid #ccc;
    /*box-shadow: 0px 0px 20px #888;*/

    font-family: 'Open Sans',sans-serif;
    font-size: 25px;
    font-size:1.4vw;
    color:#444;
    
    text-align: justify;
    
}

.seccion h1{
    font-family: 'Open Sans',sans-serif;
    font-size:38pt;
    font-size:2.8vw;
    color: #004075;
    
    margin: 30px 0px 10px 0px;
    margin: 2.09vw 0px 0.7vw 0px;
    
    text-align: center;
    
}


.seccion h2{
    font-family: 'Open Sans',sans-serif;
    font-size:25pt;
    font-size:1.9vw;
    color: #5EB1EF;
    
    margin: 10px 0px 35px 0px;
    margin: 0.7vw 0px 2.44vw 0px;
    
    text-align: center;
    
}

.seccion p{

    margin: 10px 10% 10px 10%;
    margin: 0.7vw 10% 0.7vw 10%;
    
}

.seccion li{
    
    margin: 10px 15%;
    margin: 0.7vw 15%;
    text-align:justify;
    
}

.seccion .codigo{

    font-family: monospace;
    background-color: #ebebeb;
    
    font-size: 20px;
    font-size:1.39vw;
    
}


.seccion table tr td{
    
    padding: 0px 40px;
    padding: 0px 2.79vw;
    
    vertical-align: middle;
    
}

.seccion .picture, .seccion .picture:visited, .seccion .picture img{
    
    border:0;
    transition: 0.3s;
    
}

.seccion .picture img:hover{
    
    filter: drop-shadow(5px 5px 12px rgba(0,0,0,0.5));

}

.seccion a, .seccion a:visited{
    
    color: #4B8DBE;
    text-decoration: underline;
    font-weight: bold;
    
    
}

.seccion a:hover{
    
    text-decoration: none;
    
}


.pageFoot{
    margin: 20px auto 0px auto;
    padding: 20px 10% 10px 10%;
    width: 80%;
    
    background-color: #fff;
    
    border-top: 1px solid #ccc;
    
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-size:0.84vw;
    color:#444;
    
    text-align:center;
    
}

.pageFoot a, .pageFoot a:visited{
    
    color: #4B8DBE;
    text-decoration: underline;
    
}

.pageFoot a:hover{
    
    text-decoration: none;
    
}

.pageFoot img{
    
    vertical-align: middle;
    border-width:0;
    
}


